[project]
	description = vim python ide with Jedi
[access "refs/*"]
	owner = group user/karthikrev (karthikrev)
[access "refs/for/refs/*"]
	read = group user/karthikrev (karthikrev)
	push = group user/karthikrev (karthikrev)
	label-Code-Review = -2..+2 group user/karthikrev (karthikrev)
	label-Verified = -1..+1 group user/karthikrev (karthikrev)
	rebase = group user/karthikrev (karthikrev)
	removeReviewer = group user/karthikrev (karthikrev)
	submit = group user/karthikrev (karthikrev)
[access "refs/heads/*"]
	read = group user/karthikrev (karthikrev)
	create = group user/karthikrev (karthikrev)
	push = +force group user/karthikrev (karthikrev)
	pushMerge = group user/karthikrev (karthikrev)
[access "refs/tags/*"]
	push = +force group user/karthikrev (karthikrev)
	pushTag = group user/karthikrev (karthikrev)
	pushSignedTag = group user/karthikrev (karthikrev)
